[submodule "netbox"]
	path = netbox
	url = https://gerrit.wikimedia.org/r/operations/software/netbox
[submodule "wheels"]
	path = wheels
	url = https://gerrit.wikimedia.org/r/operations/wheels/netbox
