## The following requirements were added by pip freeze:
attrs==19.1.0
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.3
django-auth-ldap==2.0.0
django-cacheops==4.1
django-cors-headers==3.0.2
django-debug-toolbar==2.0
django-filter==2.1.0
django-js-asset==1.2.2
django-mptt==0.9.1
django-prometheus==1.0.15
django-rq==2.1.0
django-tables2==2.0.6
django-taggit==1.1.0
django-taggit-serializer==0.1.7
django-timezone-field==3.0
djangorestframework==3.9.4
drf-yasg==1.16.0
funcy==1.12
google-api-python-client==1.7.10
google-auth==1.6.3
google-auth-httplib2==0.0.3
graphviz==0.10.1
httplib2==0.13.1
idna==2.8
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
Markdown==2.6.11
MarkupSafe==1.1.1
netaddr==0.7.19
Pillow==6.0.0
prometheus-client==0.7.1
psycopg2-binary==2.8.3
py-gfm==0.1.4
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycryptodome==3.8.2
pynetbox==4.0.6
pyrsistent==0.15.4
python-ldap==3.2.0
pytz==2019.1
PyYAML==5.1.1
redis==3.3.3
requests==2.22.0
rq==1.1.0
rsa==4.0
ruamel.yaml==0.16.0
ruamel.yaml.clib==0.1.0
six==1.12.0
sqlparse==0.3.0
swagger-spec-validator==2.4.3
uritemplate==3.0.0
urllib3==1.25.3
