## The following requirements were added by pip freeze:
certifi==2018.11.29
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
Django==2.1.5
django-auth-ldap==1.7.0
django-cors-headers==2.4.0
django-debug-toolbar==1.11
django-filter==2.0.0
django-js-asset==1.1.0
django-mptt==0.9.1
django-tables2==2.0.3
django-taggit==0.23.0
django-taggit-serializer==0.1.7
django-timezone-field==3.0
djangorestframework==3.9.0
drf-yasg==1.11.1
flex==6.13.2
graphviz==0.10.1
idna==2.8
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10
jsonpointer==1.14
jsonschema==2.6.0
Markdown==2.6.11
MarkupSafe==1.1.0
netaddr==0.7.19
Pillow==5.3.0
psycopg2-binary==2.7.6.1
py-gfm==0.1.4
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycryptodome==3.7.2
python-ldap==3.1.0
pytz==2018.9
PyYAML==3.13
requests==2.21.0
rfc3987==1.3.8
ruamel.yaml==0.15.87
six==1.12.0
sqlparse==0.2.4
strict-rfc3339==0.7
swagger-spec-validator==2.4.3
uritemplate==3.0.0
urllib3==1.24.1
validate-email==1.3
