-r src/requirements.txt
django-auth-ldap
ApereoSocialPipeline
swift
django-storage-swift

# https://github.com/netbox-community/netbox/issues/12415
# To be removed on Netbox >= 3.5.1
rq==1.13.0

# scripts
pynetbox~=6.6
flask
dnspython<2.0.0
wmflib

# reports
google-api-python-client
google-auth
pymysql
