# Netbox requirements
-r src/requirements.txt

# Authentication
django-auth-ldap
ApereoSocialPipeline

# Swift storage
swift
django-storage-swift

# Scripts
pynetbox
flask
dnspython
wmflib

# Reports
google-api-python-client
google-auth
pymysql

# Git datasources integration
dulwich

# Netbox plugins
netbox-more-metrics

# RQ
# TODO: REMOVE THIS DEPENDECY LOCK ON UPDATE TO NETBOX 4.3 OR LATER
rq==1.16.2